body {
  text-align: center;
}

#main {
  font-size: 48pt;
  width: 10em;
  margin: auto;
  background: cyan;
  padding: 5px;
}

#heading {
  font-size: 24pt;
}

#player_select_container {
  font-size: 16pt;
}

#ask_character {
  display: none;
}

#character_select_container {
  display: none;
  font-size: 16pt;
}

#current_turn {
  display: none;
}

#board {
  display: none;
  background: red;
  margin: auto;
  width: 9em;
}

.space {
  margin: 5px;
  font-size: 48pt;
  height: 2.5em;
  width: 2.5em;
}
